.no-list {
    position: relative;
    color: rgba(250, 250, 250, 0.74);
    font-weight: bolder;
    margin: auto;
    animation: hover 1s infinite linear;
    text-align: center;
}
.no-list > span {
    display: block;
}

@keyframes hover {
    0% {top: 0px;}
    25% {top: 10px;}
    50% {top: -5px;}
    100% {top: 0px;}
}